
.plupload_button {
  background: none !important;
  border: none !important;
  -moz-border-radius: 3px !important;
  -khtml-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
  color: #42454a !important;
  display: inline-block !important;
  font: normal 12px sans-serif !important;
  font-family: "Lucida Grande", Verdana, sans-serif !important;
  margin-right: 4px !important;
  outline: 0 !important;
  padding: 2px 8px 3px 15px !important;
  text-decoration: none !important;
}

.plupload_button: hover {
  color: #000 !important;
  text-decoration: none !important;
}

.plupload_disabled,
a.plupload_disabled: hover {
  background: transparent url(images/up_arrow_disabled.png) no-repeat 0 center !important;
  border-color: #c5c5c5 !important;
  color: #737373 !important;
  cursor: default !important;
}

.plupload_add {
  background: transparent url(images/add.png) no-repeat 0 center !important;
  background-position: -181px center !important;
}

.plupload_wrapper {
  font: normal 11px Verdana,sans-serif !important;
  font-family: "Lucida Grande", Verdana, sans-serif !important;
  width: 100% !important;
}

.plupload_container {
  background: url('images/transp50.png') !important;
}

.plupload_container input {
  border: 1px solid #ddd !important;
  font: normal 11px Verdana,sans-serif !important;
  font-family: "Lucida Grande", Verdana, sans-serif !important;
  width: 98% !important;
}

.plupload_filelist {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.plupload_scroll .plupload_filelist {
  background: none !important;
  height: 135px !important;
  overflow-y: scroll !important;
}

.plupload_filelist li {
  background: #f5f5f5 url('images/backgrounds.gif') repeat-x 0 -156px !important;
  border-bottom: 1px solid #ddd !important;
  padding: 10px 8px !important;
}

.plupload_filelist_header,
.plupload_filelist_footer {
  background: #dfdfdf !important;
  color: #42454a !important;
  padding: 6px 8px !important;
}

.plupload_filelist_header {
  border-bottom: 1px solid #cdcdcd !important;
  border-top: 1px solid #eee !important;
}

.plupload_filelist_footer {
  border-top: 1px solid #fff !important;
  height: 22px !important;
  line-height: 20px !important;
  vertical-align: middle !important;
}

.plupload_file_name {
  float: left !important;
  overflow: hidden !important;
}

.plupload_file_status {
  color: #777 !important;
}

.plupload_file_status span {
  color: #42454a !important;
}

.plupload_file_size,
.plupload_file_status,
.plupload_progress {
  float: right !important;
  width: 80px !important;
}

.plupload_file_size,
.plupload_file_status,
.plupload_file_action {
  text-align: right !important;
}

.plupload_filelist .plupload_file_name {
  width: 205px !important;
}

.plupload_file_action {
  float: right !important;
  height: 16px !important;
  margin-left: 15px !important;
  width: 16px !important;
}

.plupload_file_action * {
  display: none !important;
  height: 16px !important;
  width: 16px !important;
}

li.plupload_uploading {
  background: #ecf3dc url('images/backgrounds.gif') repeat-x 0 -238px !important;
}

li.plupload_done {
  color: #aaa !important;
}

li.plupload_delete a {
  background: url('images/delete.gif') !important;
}

li.plupload_failed a {
  background: url('images/error.gif') !important;
  cursor: default !important;
}

li.plupload_done a {
  background: url('images/done.gif') !important;
  cursor: default !important;
}

.plupload_progress,
.plupload_upload_status {
  display: none !important;
}

.plupload_progress_container {
  background: #fff !important;
  border: 1px solid #ccc !important;
  margin-top: 3px !important;
  padding: 1px !important;
}

.plupload_progress_bar {
  background: #cdeb8b !important;
  height: 7px !important;
  width: 0 !important;
}

.plupload_scroll .plupload_filelist_header .plupload_file_action,
.plupload_scroll .plupload_filelist_footer .plupload_file_action {
  margin-right: 17px !important;
}

.plupload_clear,
.plupload_clearer {
  clear: both !important;
}

.plupload_clearer,
.plupload_progress_bar {
  display: block !important;
  font-size: 0 !important;
  line-height: 0 !important;
}

li.plupload_droptext {
  background: transparent !important;
  border: 0 !important;
  line-height: 115px !important;
  list-style-type: none !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.plupload {
  border: solid 1px #ccc !important;
}

.plupload_header {
  display: none !important;
}

.plupload_button,
.plupload_button: hover {
  color: #0074bd !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.plupload_start,
a.plupload_start: hover {
  background: transparent url(images/up_arrow.png) no-repeat 0 center !important;
  z-index: 100000 !important;
}
